<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <div class="flexcol">
        {{ftd-resource 'name' value=actor.name label='Name' inline=true}}
        {{ftd-resource 'system.attributes.level.value' label='Level' inline=true}}
        {{ftd-resource 'system.attributes.experience.value' label='Exp' inline=true}}
      </div>

      <div class="flexcol">
        {{ftd-resource 'system.attributes.class' label='Class' inline=true}}
        {{ftd-resource 'system.attributes.archetype' label='Archetype' inline=true}}
        {{ftd-resource 'system.attributes.race' label='Race' inline=true}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-5col">
        <section class="grid-span-5">
            <div class="resources grid grid-4col grid-compressed">
              {{ftd-resource-multi 'system.health' label="Health" box=true}}

              {{ftd-resource 'system.ac' label='AC' box=true}}
              {{ftd-resource 'system.init' label='Initative' box=true readonly=true}}
              {{ftd-resource 'system.speed' label='Speed (ft)' box=true}}

              {{ftd-resource-multi 'system.resources.supply' label="Supply" max_readonly=true box=true}}
              {{ftd-resource-multi 'system.resources.load' label="Load" value_readonly=true max_readonly=true box=true}}
              {{ftd-resource-multi 'system.resources.resilience' label="Resilience" max_readonly=true box=true}}
              {{ftd-resource-multi 'system.resources.retainers' label="Retainers"  max_readonly=true box=true}}
              {{ftd-resource-multi 'system.resources.mItems' label="Magic Items" value_readonly=true max_readonly=true box=true}}
            </div>
        </section>

        <aside class="sidebar abilities flexcol">
          {{#each system.abilities as |ability key|}}
            <div class="ability resource box">
              <label for="system.abilities.{{key}}.value" class="resource-label rollable"
                data-roll="d20+@{{key}}.mod" data-label="{{ability.label}}">{{ability.label}}</label>
              <input class="resource-value" type="number" name="system.abilities.{{key}}.value"
                value="{{ability.value}}" data-dtype="Number" />
              <!--input class="ability-max" type="number" name="system.abilities.{{key}}.max"
                value="{{ability.max}}" data-dtype="Number" /-->
              <div class="ability-mod rollable" data-roll="d20+@{{key}}.mod"
                data-label="{{ability.label}}" style="text-align:center">{{numberFormat ability.mod decimals=0 sign=true}}</div>
              <!--input class="ability-prof" type="number" name="system.abilities.{{key}}.prof"
                value="{{ability.prof}}" data-dtype="Number" />
              <span class="ability-mod rollable" data-roll="d20+@{{key}}.mod"
                data-label="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</span-->
            </div>
          {{/each}}
        </aside>

        <section class="main grid-span-4">
          {{> "systems/fivetorchesdeep/templates/actor/parts/actor-proficiencies.html"}}

          {{> "systems/fivetorchesdeep/templates/actor/parts/actor-features.html"}}
        </section>
      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor richBiography target="system.biography" button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/fivetorchesdeep/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/fivetorchesdeep/templates/actor/parts/actor-spells.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/fivetorchesdeep/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>