<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <div class="flexcol">
        <div class="resource inline">
          <label for="name" class="resource-label">Name</label>
          <input class="resource-value" type="text" title="Character Name"
            name="name" value="{{actor.name}}" data-dtype="String" />
        </div>
        <div class="resource inline">
          <label for="system.hd" class="resource-label">{{localize "FTD.HitDice"}}</label>
          <select class="resource-value" name="system.hd" value="{{system.hd}}" data-dtype="Number">
            {{#select system.hd}} {{#each hdList}}
            <option value="{{value}}">{{text}} {{localize "FTD.HD"}}</option>
            {{/each}} {{/select}}
          </select>
        </div>
        <div class="resource inline">
          <label for="system.category" class="resource-label">{{localize "FTD.Category"}}</label>
          <select class="resource-value" name="system.category" value="{{system.category}}" data-dtype="String">
            {{#select system.category}} {{#each categoryList}}
            <option value="{{value}}">{{text}}</option>
            {{/each}} {{/select}}
          </select>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Stats</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Features Tab --}}
    <div class="tab" data-group="primary" data-tab="features">
      <div class="grid grid-2col">
        <div class="npc-box flex-group">
          <h3>Combat</h3>
          <div class="resource inline">
            <label for="system.health.value" class="resource-label">HP <small>(avg. {{system.avghp}})</small></label>
            <div class="resource-value multiple">
              <input class="res-value" type="number" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
              <span class="sep">/</span>
              <input class="res-max" type="number" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
            </div>
          </div>
          <div class="resource inline">
            <label for="system.ac" class="resource-label">AC</label>
            <div class="resource-value">
              <input class="res-value" type="number" name="system.ac" value="{{system.ac}}" data-dtype="Number" />
            </div>
          </div>
          <hr />
          <div class="resource inline">
            <label class="resource-label">Mods</label>
            <div class="resource-value multiple">
              <a class="rollable align-center" data-roll="d20 + @weakmod" data-label="Weak">Weak<br />({{numberFormat system.mods.weak decimals=0 sign=true}})</a>
              <span class="sep">/</span>
              <a class="rollable align-center" data-roll="d20 + @basemod" data-label="Base">Base<br />({{numberFormat system.mods.normal decimals=0 sign=true}})</a>
              <span class="sep">/</span>
              <a class="rollable align-center" data-roll="d20 + @strongmod" data-label="Strong">Strong<br />({{numberFormat system.mods.strong decimals=0 sign=true}})</a>
            </div>
          </div>
          <hr />
          <div class="resource inline">
            <label for="system.init" class="resource-label">Initiative</label>
            <input class="resource-value" type="number" name="system.init" value="{{system.init}}" data-dtype="Number" />
          </div>

          <div class="resource inline">
            <label for="system.speed" class="resource-label">{{localize "FTD.Speed"}}</label>
            <input class="resource-value" type="number" name="system.speed" value="{{system.speed}}" data-dtype="Number" />
          </div>
        </div>

        <div class="npc-box">
          <div class="grid grid-2col">
            <div>
              <a class="npc-skill-edit" title="{{localize "FTD.EditNpcSkillsStrong" }}" data-skill-set="strong">
                <i class="fas fa-edit"></i> <strong>{{localize "FTD.Strong"}}
                  ({{numberFormat system.mods.strong decimals=0 sign=true}})</strong>
              </a>
              <hr />
              <ul class="skill-list">
                {{#each strongList}}
                <li>
                  <a class="rollable" data-roll="d20 + @strongmod" data-label="{{this}}">{{this}}</a>
                </li>
                {{/each}}
              </ul>
              <p class="notes">{{system.strongDesc}}</p>
            </div>

            <div>
              <a class="npc-skill-edit" title="{{localize "FTD.EditNpcSkillsWeak" }}" data-skill-set="weak">
                <i class="fas fa-edit"></i> <strong>{{localize "FTD.Weak"}}
                  ({{numberFormat system.mods.weak decimals=0 sign=true}})</strong>
              </a>
              <hr />
              <ul class="skill-list">
                {{#each weakList}}
                <li>
                  <a class="rollable" data-roll="d20 + @weakmod" data-label="{{this}}">{{this}}</a>
                </li>
                {{/each}}
              </ul>
              <p class="notes">{{system.weakDesc}}</p>
            </div>
          </div>
        </div>

        <div class="flex-group grid-span-2">
          {{> "systems/fivetorchesdeep/templates/actor/parts/actor-techniques.html" }}
        </div>

      </div>
    </div>
    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor richBiography target="system.biography" button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/fivetorchesdeep/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/fivetorchesdeep/templates/actor/parts/actor-effects.html"}}
    </div>
  </section>
</form>